@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmptyLog4Net___ConfigurationInCode</title>
    @Html.Raw(JSNLog.JavascriptLogging.Configure())
</head>
<body>
    <h1>EmptyLog4Net___ConfigurationInCode</h1>
    <script type="text/ecmascript">
        JL("jsLogger").fatal("client log message - EmptyLog4Net___ConfigurationInCode");
        JL("jsLogger").error("this will not be logged, as level for jsLogger is set to fatal");
        alert('EmptyLog4Net___ConfigurationInCode');
    </script>
        
    <div>
    </div>
</body>
</html>
