@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmptyElmah</title>
    @Html.Raw(JSNLog.JavascriptLogging.Configure())
</head>
<body>
    <h1>EmptyElmah</h1>
    <script type="text/ecmascript">
        JL("jsLogger").fatal("log message on client");
        JL("jsLogger").warn({ msg: 'json from client', x: 5, y: 88 });
        alert('elmah');
    </script>
        
    <div>
    </div>
</body>
</html>
