@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmptySerilog</title>
   @Html.Raw(JSNLog.JavascriptLogging.Configure())
</head>
<body>
    <h1>EmptySerilog</h1>
    <script type="text/ecmascript">
        JL("jsLogger").fatal("client log message");
        JL("jsLogger").warn({ msg: 'json from client', x: 5, y: 88 });
        alert('serilog');
    </script>
        
    <div>
    </div>
</body>
</html>
