@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmptySerilog</title>
   @Html.Raw(JSNLog.JavascriptLogging.Configure())
</head>
<body>
    <h1>EmptySerilog</h1>
    <script type="text/ecmascript">
    JL("jsLogger").trace("trace - client log message");
    JL("jsLogger").debug("debug - client log message");
    JL("jsLogger").info("info - client log message");
    JL("jsLogger").warn({ msg: 'warn - json from client', x: 5, y: 88 });
    JL("jsLogger").error("error - client log message");
    JL("jsLogger").fatal("fatal - client log message");
    alert('serilog');
    </script>
        
    <div>
    </div>
</body>
</html>
