@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmptyLog4Net - OWIN</title>
    @Html.Raw(JSNLog.JavascriptLogging.Configure())
</head>
<body>
    <h1>EmptyLog4Net - OWIN</h1>
    <script type="text/ecmascript">
        JL("jsLogger").fatal("client log message");
        alert('log4net - OWIN');
    </script>
        
    <div>
    </div>
</body>
</html>
