@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JSNLogDemo_Log4Net_CORS</title>
	
    @Html.Raw(JSNLog.JavascriptLogging.Configure())
	
    <script src="~/scripts/jsnlogdemo.js"></script>
</head>
<body>
    <h1>JSNLogDemo_Log4Net_CORS</h1>
	
	<p>
	Log messages are sent to server the moment this page is opened.
	</p>
	<p>
	The code generating the log messages is in scripts/jsnlogdemo.js.
	</p>
	<p>
	JSNLog sets the <i>window.onerror</i> handler when it loads, so uncaught JavaScript exceptions are sent to your server side log.
	However, it will only do that if <i>window.onerror</i> has not already been set 
	(<a href="http://jsnlog.com/Documentation/HowTo/ExceptionLogging">details</a>). That way, if you are setting your own onerror handler, it won't override that.  
	</p>
	
	

	<p>
		This demo site shows the CORS feature, and so uses 2 domains - one at which the site is hosted and one at which the 
		logging end point is located. The logging end point is the url where JSNLog sends its log entries.
		 It is the fact that the site and logging end point are on different domains that makes CORS required here. 
	</p>
    <p>
        To make this demo site work:
    </p>
    <ul>
        <li>
			In IIS, create a new site that points at the directory where the files of this demo site are located.
            That is, the directory with the .csproj.
        </li>
        <li>
            Create a binding with host name <i>corslocalhost.local</i>. You'll use this domain to run the demo site itself.
        </li>
        <li>
            Create a second binding with host name <i>apicorslocalhost.local</i>. 
            All log requests will be sent to this domain.
            See the web.config file.
        </li>
        <li>
			Don't forget to add these domains to your hosts file, at <i>C:\Windows\System32\drivers\etc\hosts</i>.
        </li>
    </ul>
	<p>
		In this demo, CORS has been configured in code, in Global.asax.cs. It could also have been configured in the jsnlog element in the web.config. 
	</p>


	        
    <div>
    </div>
</body>
</html>



