@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmptyLog4Net - CORS</title>
    @Html.Raw(JSNLog.JavascriptLogging.Configure())
</head>
<body>
    <h1>EmptyLog4Net - CORS</h1>
    <script type="text/ecmascript">
      JL("jsLogger").fatal("client log message - CORS");
        alert('log4net - CORS');
    </script>
<p>
    This demo site shows the CORS feature, and so uses 2 domains - one at which the site is hosted and one at which the 
    logging end point is located. The logging end point is the url where JSNLog sends its log entries.
     It is the fact that the site and logging end point are on different domains that makes CORS required here. 
</p>
    <p>
        To make this demo site work:
    </p>
    <ul>
        <li>
In IIS, create a new site that points at the directory where the files of this demo site are located.
            That is, the directory with the .csproj.
        </li>
        <li>
            Create a binding with host name <i>corslocalhost.local</i>. You'll use this domain to run the demo site itself.
        </li>
        <li>
            Create a second binding with host name <i>apicorslocalhost.local</i>. 
            All log requests will be sent to this domain.
            See the web.config file.
        </li>
        <li>
Don't forget to add these domains to your hosts file, at <i>C:\Windows\System32\drivers\etc\hosts</i>.
        </li>
    </ul>
        
</body>
</html>
